@import url(./normalize.css);
@import url(../fonts/fonts.css);

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: normal;
    overflow-x: hidden;
}

.container {
    min-width: 1300px;
    margin: 0;
}

/* header part */

.header,
.footer {
    width: auto;
    height: 6vw;
    background: #131313;
}

.header .container,
.footer .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.4vw;
}

.header__naming,
.footer__naming {
    color: #E3B873;
    text-transform: uppercase;
}

.header__list,
.footer__list {
    display: flex;
    justify-content: space-around;
    gap: 3.4vw;
}

.header__list_link,
.footer__list_link {
    list-style-type: none;
}

.header__list_link a,
.footer__list_link a {
    color: #FFF;
}

.header__list_link a:hover,
.footer__list_link a:hover {
    color: #E3B873;
}

.header__list_link:nth-child(1) a,
.footer__list_link:nth-child(1) a {
    color: #E3B873;
}

.header__contact-number,
.footer__contact-number {
    color: #E3B873;
    text-align: right;
    text-decoration-line: underline;
}


.header__btn,
.footer__btn {
    width: 11.5vw;
    height: 2.6vw;
    flex-shrink: 0;
    border-radius: 2px;
    border: 0;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    color: #FFF;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}

/* main part */

.section-deal {
    width: 100%;
    height: 50vw;
    flex-shrink: 0;
    position: relative;
    background: url(../images/deal.jpg);
    background-size: cover;
}

.section-deal__wrapper {
    width: 48.3vw;
    height: 21.8vw;
    flex-shrink: 0;
    margin-top: 13.8vw;
    margin-left: 9.5vw;
    display: flex;
    flex-direction: column;
}

.section-deal__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7)
}

.section-deal__wrapper_title {
    margin: 0;
    color: #FFF;
    font-family: "Yeseva One";
    font-size: 2.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%;
    text-transform: uppercase;
}

.section-deal__wrapper_title span {
    color: #E3B873;
}

.section-deal__wrapper_subtitle {
    color: #FFF;
    font-size: 1.6vw;
    line-height: 163.68%;
}

.section-deal__wrapper_btn {
    display: flex;
    gap: 1.5vw;
}

.section-deal__wrapper_calculate-btn {
    width: 14.8vw;
    height: 3.6vw;
    flex-shrink: 0;
    border-radius: 2px;
    border: 0;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
    color: #FFF;
    text-align: center;
    font-style: italic;
}

.section-deal__wrapper_submit-btn {
    width: 14.8vw;
    height: 3.6vw;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-style: italic;
}

.section-completed {
    position: relative;
    display: grid;
    grid-template-columns: 34.1vw auto;
    grid-template-rows: repeat(4, auto);
    height: 76.7vw;
    background-color: #131313;
    padding: 0 9.4vw;
}

.section-completed__wrapper {
    grid-column: 1;
    grid-row: 1;
    width: 31.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12.5vw;
    gap: 1.6vw;
}

.section-completed__wrapper span {
    height: 4.5vw;
    margin: 0;
    color: #E3B873;
    font-family: "Yeseva One";
    font-size: 2vw;
    line-height: 138.6%;
    /* 37.422px */
    letter-spacing: -0.13vw;
    text-transform: uppercase;
}

.section-completed__wrapper p {
    color: #FFF;
    font-size: 1vw;
    line-height: 190.96%;
    /* 26.734px */
    margin: 0;
}

.section-completed__data {
    width: 27.9vw;
    margin-top: 2.2vw;
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 11.1vw auto;
    grid-template-rows: auto auto;
    gap: 2vw 2.3vw;
}

.section-completed__data_block {
    display: flex;
    flex-direction: column;
    gap: 0.6vw;
}

.section-completed__data_block:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.section-completed__data_block:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.section-completed__data_block:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
}

.section-completed__data_block:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}

.section-completed__data_block span {
    color: #E3B873;
    font-family: "Yeseva One";
    font-size: 1.3vw;
    line-height: 138.6%;
    /* 24.948px */
    text-transform: uppercase;
    margin: 0;
}

.section-completed__data_block p {
    margin: 0;
    color: #FFF;
    font-size: 1vw;
    line-height: 163.68%;
    /* 21.278px */
}

.section-completed__wrapper_slider {
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    grid-column: 1;
    grid-row: 3;
    width: 15vw;
    height: 1vw;
    flex-shrink: 0;
}

.section-completed__wrapper_circle-slider {
    width: 0.7vw;
    height: 0.7vw;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.section-completed__wrapper_slider img {
    height: 1vw;
    cursor: pointer;
}

.section-completed__interior {
    grid-column: 2;
    grid-row: 1 / 4;
}

.section-completed__interior_arrows {
    display: none;
}

.section-completed__interior_list {
    list-style-type: none;
    display: flex;
    justify-content: start;
    color: rgba(255, 255, 255, 0.30);
    font-family: "Yeseva One";
    font-size: 1vw;
    line-height: 138.6%;
    /* 19.404px */
    text-transform: uppercase;
    gap: 4.3vw;
    margin-top: 7.5vw;
    margin-bottom: 3.6vw;
    padding: 0;
    cursor: pointer;
}

.section-completed__interior_list li:hover {
    color: #E3B873;
    text-decoration: underline;
}

.section-completed__interior_list li:first-child {
    color: #E3B873;
    text-decoration: underline;
}

.section-completed__interior_image {
    width: 47.2vw;
    height: 33.5vw;
    background: url(../images/section-completed__interior_image.jpg);
    background-size: cover;
}

.section-completed__online {
    grid-column: 1 / 3;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-completed__online_logo {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 6.6vw;
}

.section-completed__online_logo span {
    color: #FFF;
    text-align: center;
    font-family: "Yeseva One";
    font-size: 1.4vw;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;
    margin: 0;
}

.section-completed__online_logo div {
    width: 14vw;
    height: 2.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
    margin-bottom: 2.2vw;
}

.section-completed__online_img img {
    width: 2.2vw;
    height: 2vw;
}

.section-completed__online_video {
    width: 58.3vw;
    height: 31vw;
    flex-shrink: 0;
    background: url(../images/online-video.jpg);
    background-size: cover;
    cursor: pointer;
}

.section-completed__online_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
}

.section-completed__online_play {
    width: 10vw;
    height: 10vw;
}

.section-types {
    position: relative;
    height: 104.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-types__rectangle {
    margin-top: 20vw;
    width: 3.9vw;
    height: 1.5px;
    border-radius: 30px;
    background: #E3B873;
}

.section-types__broadcast {
    width: 49.2vw;
    height: 9.35vw;
    color: #363636;
    text-align: center;
    font-size: 1.29vw;
    line-height: 204.6%;
    /* 36.828px */
    margin-top: 2.46vw;
}

.section-types__input-area {
    display: flex;
    justify-content: center;
    margin-top: 6.7vw;
    width: 100%;
    gap: 3.5vw;
}

.section-types__input-area_block {
    display: flex;
    border-bottom: solid 1px #3636364D;
}

.section-types__input-area_block span {
    text-wrap: nowrap;
    color: #363636;
    font-size: 1vw;
    line-height: 163.68%;
    /* 22.915px */
}

.section-types__input-area_input {
    width: 16.5vw;
    height: 3.2vw;
}

.section-types__input-area_input p {
    color: rgba(54, 54, 54, 0.50);
    font-size: 1vw;
    line-height: 163.68%;
    /* 21.278px */
    margin: 0;
}

.section-types__input-area_input input {
    border: none;
    outline: none;
}

.section-types__input-area_btn {
    background-color: #E3B873;
    width: 14.3vw;
    height: 3.5vw;
    color: #FFF;
    text-align: center;
    font-size: 1vw;
    line-height: 204.6%;
    /* 26.598px */
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
}

.section-types__agreement {
    margin-top: 2.2vw;
    margin-bottom: 5.3vw;
    display: flex;
    justify-content: center;
    gap: 0.6vw;
}

.section-types__agreement p {
    color: #181818;
    font-size: 1vw;
    line-height: 163.68%;
    /* 22.915px */
    margin: 0;
}

.section-types__agreement_checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5vw;
}

.checkbox-real {
    display: none;
}

.checkbox-fake {
    position: relative;
    display: inline-block;
    width: 1.2vw;
    height: 1.2vw;
    background-color: transparent;
    border: 1px solid gray;
}

.checkbox-real:checked+.checkbox-fake::before {
    position: absolute;
    content: "";
    width: 1.3vw;
    height: 1.3vw;
    background-image: url(../images/ckeck.svg);
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-title {
    color: #181818;
    font-size: 1vw;
    line-height: 163.68%;
}

.section-types__logo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1vw;
    margin-bottom: 2.2vw;
}

.section-types__logo p {
    margin: 0;
    color: #181818;
    text-align: center;
    font-family: "Yeseva One";
    font-size: 1.4vw;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;
}

.section-types__logo_logo {
    width: 8.1vw;
    height: 2vw;
    background-image: url(../images/section-types__logo.svg);
    background-size: 100% 100%;
}

.section-types__cards {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.section-types__cards_card {
    width: 28vw;
    height: 30vw;
}

.section-types__cards_card:nth-child(1) {
    background-image: url(../images/card1.jpg);
    background-size: 100% 100%;
}

.section-types__cards_card:nth-child(2) {
    background-image: url(../images/card2.jpg);
    background-size: 100% 100%;
}

.section-types__cards_card:nth-child(3) {
    background-image: url(../images/card3.jpg);
    background-size: 100% 100%;
}

.section-types__cards_card-block {
    position: absolute;
    width: 23.5vw;
    height: 20.3vw;
    padding-top: 1.7vw;
    padding-left: 2.4vw;
    background: #FFF;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.03);
    margin-top: 21vw;
    margin-left: 2.2vw;
}

.section-types__cards_card-block h2 {
    margin: 0;
    color: #363636;
    font-family: "Yeseva One";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 24.948px */
}

.section-types__cards_card-block ul {
    color: #959595;
    font-size: 1vw;
    line-height: 204.6%;
    /* 26.598px */
    margin: 0;
    padding-left: 1.2vw;
}

.section-types__cards_card span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 16.2vw;
    height: 3.8vw;
    background: #E3B873;
    box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
    color: #FFF;
    font-family: "Yeseva One";
    font-size: 1.3vw;
    line-height: 138.6%;
    /* 24.948px */
    text-transform: uppercase;
    margin-top: 39.5vw;
    margin-left: 2.2vw;
}

.section-request {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    height: 47.5vw;
    gap: 0 9.3vw;
}

.section-request__steps {
    width: 50vw;
    height: 42.7vw;
    background: url(../images/steps.jpg), lightgray 50% / cover no-repeat;
    background-size: 100% 100%;
    grid-column: 1;
    grid-row: 1;
}

.section-request__form {
    display: flex;
    flex-direction: column;
    margin-top: 4.2vw;
    width: 36vw;
    height: 38vw;
    background: #131313;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 2.7vw;
    padding-right: 3.5vw;
}

.section-request__logo {
    grid-column: 2;
    grid-row: 2;
}

.section-request__form p {
    color: #FFF;
    text-align: center;
    font-size: 1.3vw;
    line-height: 143.22%;
    /* 25.78px */
    margin: 2vw 0 2.7vw 0;
}

.section-request__input-area {
    display: flex;
    gap: 3.7vw;
    ;
    flex-direction: column;
    padding-left: 3.5vw;
    align-items: start;
}

.section-request__input-area p {
    margin: 0 0 0.5vw 0;
    display: inline-block;
    color: rgba(255, 255, 255, 0.50);
    font-size: 1vw;
    line-height: 163.68%;
    /* 21.278px */
}

.section-request__input-area span {
    color: #FFF;
    font-size: 1vw;
    line-height: 163.68%;
    /* 22.915px */
}

.section-request__input-area_block {
    width: 29vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.section-request__input-area_input input {
    border: none;
    outline: none;
    background: #131313;
}

.section-request__checkbox {
    display: flex;
    align-items: start;
    justify-content: start;
    cursor: pointer;
    gap: 0.5vw;
    padding-left: 3.5vw;
    margin-top: 1vw;
}

.section-request__checkbox .checkbox-title {
    color: #FFF;
    font-size: 1vw;
    line-height: 163.68%;
    /* 22.915px */
}

.section-request__form_btn {
    width: 15.1vw;
    height: 3.5vw;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 1vw;
    line-height: 163.68%;
    /* 21.278px */
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    align-self: end;
}

.section-request__logo {
    display: flex;
    gap: 1.7vw;

}

.section-request__logo_logo {
    width: 5.1vw;
    height: 5.1vw;
}

.section-request__logo div {
    height: 3.3vw;
    margin: 0;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    font-size: 1.3vw;
    line-height: 143.22%;
    /* 25.78px */
}

.section-fantasies {
    margin-bottom: 7.8vw;
    margin-top: 17.2vw;
    width: 102vw;
    height: 61vw;
    background-image: url(../images/fantasies.jpg);
    background-size: 100% 100%;
}

.section-fantasies__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.90) 100%);
}

.section-fantsies__wrapper_header {
    padding-left: 7.1vw;
    padding-top: 9.7vw;
    width: 28vw;
    color: #E3B873;
    font-family: "Yeseva One";
    font-size: 2vw;
    line-height: 138.6%;
    /* 37.422px */
    text-transform: uppercase;
}

.section-fantasies__wrapper_list {
    margin-top: 3vw;
    padding-left: 7.1vw;
    list-style-type: none;
    color: #FFF;
    font-size: 1.4vw;
    line-height: 190.96%;
    /* 38.192px */
    cursor: pointer;
}

.section-fantasies__wrapper_list li {
    padding-bottom: 1vw;
}

.section-fantasies__wrapper_list li:hover {
    color: #E3B873;
    text-decoration: underline;
}

.section-fantasies__wrapper_list li:first-child {
    color: #E3B873;
    text-decoration: underline;
}

.section-fantasies__wrapper_photo {
    width: 25vw;
}

.section-fantasies__wrapper-photo_logo {
    display: none;
}

.section-fantasies__wrapper_photo:nth-child(3) {
    position: absolute;
    left: 41.9vw;
    bottom: 24.7vw;
    height: 39.7vw;
    background-image: url(../images/photo-card1.jpg);
    background-size: cover;
}

.section-fantasies__wrapper_photo:nth-child(4) {
    position: absolute;
    left: 41.9vw;
    bottom: -2.9vw;
    height: 24.9vw;
    background-image: url(../images/photo-card2.jpg);
    background-size: cover;
}

.section-fantasies__wrapper_photo:nth-child(5) {
    position: absolute;
    left: 70.2vw;
    bottom: 50vw;
    height: 19.6vw;
    background-image: url(../images/photo-card3.jpg);
    background-size: cover;
}

.section-fantasies__wrapper_photo:nth-child(6) {
    position: absolute;
    left: 70.2vw;
    bottom: 2.8vw;
    height: 44.5vw;
    background-image: url(../images/photo-card4.jpg);
    background-size: cover
}

.section-clients {
    position: relative;
    width: 100%;
    height: 73.7vw;
}

.section-clients__background {
    position: absolute;
    width: 80.5vw;
    height: 55vw;
}

.section-clients__background:nth-child(1) {
    background-image: url(../images/left-side.svg);
    background-size: 100% 100%;
    top: 15vw;
    left: -28vw;
}

.section-clients__background:nth-child(2) {
    background-image: url(../images/right-side.svg);
    background-size: 100% 100%;
    top: 15vw;
    right: -28vw;
}

.section-clients__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.section-clients__logo div {
    color: #181818;
    text-align: center;
    font-family: "Yeseva One";
    font-size: 1.4vw;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;
}

.section-clients__logo img {
    width: 8.1vw;
    height: 2vw;
}

.section-clients__text {
    color: #363636;
    text-align: center;
    font-size: 1.2vw;
    line-height: 163.68%;
    /* 29.462px */
    margin-top: 1.7vw;
}

.section-clients__cards {
    display: flex;
    justify-content: center;
    gap: 3.8vw;
    margin-top: 2.8vw;
}

.section-clients__cards_card {
    position: relative;
    width: 26.7vw;
    height: 28vw;
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.04);
}

.section-clients__cards_card div {
    display: flex;
    align-items: center;
    gap: 1.7vw;
}

.section-clients__cards_card img {
    margin-top: 1.7vw;
    margin-left: 1.4vw;
    width: 5.4vw;
    height: 5.4vw;
    display: inline-block;
}

.section-clients__cards_card h5 {
    margin: 1.7vw 0 0 0;
    color: #181818;
    font-family: "Yeseva One";
    font-size: 1.2vw;
    line-height: 127.05%;
    /* 22.869px */
    display: inline-block;
}

.section-clients__cards_card span {
    padding: 1.7vw 2vw 0 1.4vw;
    color: #959595;
    display: block;
    font-family: "Nunito Sans";
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 180%;
    /* 23.4px */
}

.section-clients__cards_card:nth-child(1) .section-clients__cards_card-client {
    position: absolute;
    width: 20.8vw;
    height: 3.8vw;
    background-image: url(../images/client-card1.svg);
    background-size: cover;
    margin-top: 2vw;
    left: -1vw;
}

.section-clients__cards_card:nth-child(2) .section-clients__cards_card-client {
    position: absolute;
    width: 20.8vw;
    height: 3.8vw;
    background-image: url(../images/client-card2.svg);
    background-size: cover;
    margin-top: 2vw;
    left: -1vw;
}

.section-clients__cards_card:nth-child(3) .section-clients__cards_card-client {
    position: absolute;
    width: 20.8vw;
    height: 3.8vw;
    background-image: url(../images/client-card3.svg);
    background-size: cover;
    margin-top: 2vw;
    left: -1vw;
}

.section-map {
    position: relative;
    height: 68vw;
    background-image: url(../images/section-map.jpg);
    background-size: 100% 100%;
}

.section-map__wrapper {
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.93);
}

.section-map__questions {
    position: absolute;
    width: 61vw;
    height: 31.5vw;
    background: #181818;
    left: 19vw;
    top: -15.2vw;
}

.section-map__questions h2 {
    margin: 2.4vw 0 0 0;
    color: #FFF;
    text-align: center;
    font-family: "Yeseva One";
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;
}

.section-map__input-area {
    margin-top: 2.6vw;
    display: flex;
    justify-content: start;
    gap: 4.1vw;
}

.section-map__input-area_block {
    display: flex;
}

.section-map__input-area_input:nth-child(1) {
    width: 16vw;
    margin-left: 12.9vw;
}

.section-map__input-area_input:nth-child(2) {
    width: 16vw;
}

.section-map__input-area_solo {
    width: 36.8vw;
}

.section-map__input-area_input input,
.section-map__input-area_solo input {
    border: none;
    outline: none;
    background: #181818;
}

.section-map__input-area_input p,
.section-map__input-area_solo p {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.50);
    font-size: 1vw;
    line-height: 163.68%;
    /* 21.278px */
}

.section-map__input-area_block span {
    text-wrap: nowrap;
    color: #FFF;
    font-size: 1vw;
    line-height: 163.68%;
    /* 22.915px */
}

.section-map__input-area_block {
    border-bottom: solid 1px #3636364D;
}

.section-map__input-area_solo {
    margin-left: 12.9vw;
}

.section-map__checkbox {
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 0.5vw;
    padding-left: 3.5vw;
    margin-top: 2vw;
}

.section-map__checkbox .checkbox-title {
    color: #FFF;
    font-size: 1vw;
    line-height: 163.68%;
    /* 22.915px */
}

.section-map__button {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
}


.section-map__button_btn {
    background: #E3B873;
    width: 14vw;
    height: 3.5vw;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 1vw;
    line-height: 204.6%;
    /* 26.598px */
    text-transform: uppercase;
}

.section-map__header {
    position: absolute;
    margin: 19.5vw 0 0 30.2vw;
    color: #E3B873;
    font-family: "Yeseva One";
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;
}

.section-map__header p {
    text-align: center;
}

.section-map__logo-wrapper {
    position: absolute;
    margin-top: 27vw;
    margin-left: 47vw;
}

.section-map__logo-wrapper img {
    width: 5vw;
    height: 2vw;
}

.section-map__map {
    position: absolute;
    margin-top: 31vw;
    margin-left: 17vw;
    width: 65vw;
    height: 33vw;
    background-image: url(../images/map.jpg);
    background-size: cover;
}

/* media query for mobile phones */

@media screen and (max-width:1299px) and (min-width:375px) {

    .container {
        min-width: 375px;
        max-width: 1299px;
        margin: 0;
    }

    /* header part */

    .header__list,
    .header__btn {
        display: none;
    }

    .header {
        width: 100%;
        height: 15.2vw;
    }

    .header .container {
        padding: 6.2vw 4.8vw;
    }

    .header__naming {
        font-size: 2.8vw;
    }

    .header__contact-number {
        color: #FFF;
        text-align: right;
        font-size: 2.8vw;
        text-decoration: none;
    }

    /* main part */

    .main .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }

    .section-deal {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: 126.9vw;
        background: url(../images/deal_mobile.jpg);
        background-size: cover;
    }

    .section-deal__wrapper {
        width: 100%;
        height: 100%;
        margin: 22.6vw 0 0 4.8vw;
    }

    .section-deal__wrapper_title {
        font-size: 6.1vw;
    }

    .section-deal__wrapper_subtitle {
        margin: 4.2vw 0 8.5vw 0;
        font-size: 3.7vw;
        line-height: 135.84%;
        /* 19.018px */
    }

    .section-deal__wrapper_btn {
        flex-direction: column;
        gap: 6.9vw;
    }

    .section-deal__wrapper_calculate-btn {
        width: 90vw;
        height: 13.6vw;
        color: #FFF;
        font-size: 2.9vw;

    }

    .section-deal__wrapper_submit-btn {
        width: 89.8vw;
        height: 13.6vw;
        color: #FFF;
        font-size: 2.9vw;
    }

    .section-deal__wrapper_submit-btn span {
        display: none;
    }

    .section-completed {
        grid-column: 1;
        grid-row: 2;
        height: 266vw;
        padding: 9.6vw 4.8vw 0 4.8vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 46.4vw 64.2vw 38.6vw 85.3vw;
    }

    .section-completed__wrapper {
        width: 90vw;
        grid-column: 1 / 2;
        grid-row: 1;
        align-items: center;
        justify-content: start;
        margin: 0 0 9.6vw 0;
        gap: 0;
    }

    .section-completed__wrapper span {
        height: auto;
        font-size: 5.8vw;
        line-height: 138.6%;
        /* 30.492px */
        letter-spacing: -0.4vw;
        text-transform: uppercase;
        text-align: center;
    }

    .section-completed__wrapper p {
        width: 82.9vw;
        text-align: center;
        font-size: 2.9vw;
        line-height: 158.48%;
        /* 17.433px */
        margin-top: 5.8vw;
    }

    .section-completed__interior {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .section-completed__wrapper_slider {
        display: none;
    }

    .section-completed__interior_list {
        display: none;
    }

    .section-completed__interior_image {
        position: relative;
        width: 90.6vw;
        height: 64.2vw;
        background: url(../images/interior-img.jpg);
        background-size: 100% 100%;
    }

    .section-completed__interior_arrows {
        display: inline-block;
        position: absolute;
        width: 9.6vw;
        height: 9.6vw;
        cursor: pointer;
    }

    .section-completed__interior_arrows:nth-child(1) {
        background-image: url(../images/left-arrow.svg);
        background-size: 100% 100%;
        margin: 27.4vw 0 0 3.7vw;
    }

    .section-completed__interior_arrows:nth-child(2) {
        background-image: url(../images/right-arrow.svg);
        background-size: 100% 100%;
        margin: 27.4vw 0 0 77.6vw;
    }

    .section-completed__data {
        grid-template-columns: 34.4vw auto;
        grid-column: 1 / 2;
        grid-row: 3;
        width: 90.6vw;
        margin-top: 9.6vw;
        gap: 7.2vw 8.2vw;
    }

    .section-completed__data_block span {
        font-size: 3.7vw;
        line-height: 138.6%;
        /* 19.404px */
        text-transform: uppercase;
    }

    .section-completed__data_block p {
        font-size: 2.9vw;
        line-height: 135.84%;
        /* 14.942px */
        margin-top: 2.9vw;
    }

    .section-completed__online {
        position: relative;
        grid-column: 1 / 2;
        grid-row: 4;
        margin-top: 15.4vw;
    }

    .section-completed__online_logo {
        width: 59.7vw;
        height: 19.4vw;
        margin: 0;
    }

    .section-completed__online_logo span {
        font-size: 5.8vw;
        line-height: 138.6%;
        /* 30.492px */
    }

    .section-completed__online_logo div {
        margin: 5vw 0 0 0;
        width: 59.7vw;
    }

    .section-completed__online_img img {
        width: 8.5vw;
        height: 7.4vw;
    }

    .section-completed__online_video {
        position: absolute;
        width: 90.6vw;
        height: 55.2vw;
        top: 30.4vw;
    }

    .section-completed__online_play {
        width: 20vw;
        height: 20vw;
    }

    .section-types {
        grid-column: 1;
        grid-row: 3;
        height: 126.6vw;
        background-color: #131313;
    }

    .section-types__rectangle {
        margin-top: 3vw;
        width: 14.6vw;
        height: 0.4vw;
        flex-shrink: 0;
        border-radius: 30px;
        background: #E3B873;
    }

    .section-types__broadcast {
        margin-top: 5.6vw;
        width: 90.6vw;
        color: #FFF;
        height: 28.5vw;
        font-size: 2.9vw;
        line-height: 169.8%;
        /* 18.678px */
    }

    .section-types__input-area {
        margin-top: 16.2vw;
        flex-direction: column;
        align-items: center;
        gap: 16.8vw;
    }

    .section-types__input-area_input {
        width: 90vw;
    }

    .section-types__input-area_input p {
        color: rgba(255, 255, 255, 0.50);
        font-size: 3.4vw;
        line-height: 163.68%;
        /* 21.278px */
    }

    .section-types__input-area_block {
        padding-bottom: 2vw;
        border-bottom: 1px solid rgba(54, 54, 54, 0.30);
    }

    .section-types__input-area_block span {
        color: #FFF;
        font-size: 3.7vw;
        line-height: 138.72%;
        /* 19.421px */
    }

    .section-types__input-area_input input {
        background: #131313;
    }

    .section-types__agreement {
        position: absolute;
        width: 89.8vw;
        height: 4.8vw;
        top: 90vw;
        justify-content: start;
    }

    .section-types__agreement_checkbox {
        align-items: start;
        justify-content: start;
        gap: 2.1vw;
    }

    .checkbox-title {
        color: #FFF;
        font-size: 3.7vw;
        line-height: 163.68%;
        /* 22.915px */
    }

    .checkbox-fake {
        width: 4.8vw;
        height: 4.8vw;
    }

    .checkbox-real:checked+.checkbox-fake::before {
        width: 4.9vw;
        height: 4.9vw;
    }

    .section-types__input-area_btn {
        margin-top: 30vw;
        box-shadow: 0px 10px 20px 0px rgba(227, 184, 115, 0.10);
        width: 90.6vw;
        height: 13.6vw;
        font-size: 3.4vw;
        line-height: 204.6%;
        /* 26.598px */
    }

    .section-types__logo {
        margin-top: 15.4vw;
        gap: 4.5vw;
    }

    .section-types__logo p {
        color: #181818;
        font-size: 5.8vw;
        line-height: 138.6%;
        /* 30.492px */
    }

    .section-types__logo_logo {
        width: 30.4vw;
        height: 7.4vw;
    }

    .section-types__cards {
        margin-top: 10.6vw;
        flex-direction: column;
        gap: 47.2vw;
    }

    .section-types__cards_card:nth-child(1) {
        width: 90.6vw;
        height: 97.3vw;
    }

    .section-types__cards_card-block {
        width: 72vw;
        height: 64.2vw;
        margin-top: 59.4vw;
        margin-left: 0;
    }

    .section-types__cards_card-block h2 {
        color: #363636;
        font-size: 4vw;
        line-height: 138.6%;
        /* 20.79px */
        margin-left: -2.7vw;
    }

    .section-types__cards_card-block ul {
        color: #959595;
        font-size: 3.4vw;
        line-height: 169.8%;
        /* 22.074px */
    }

    .section-types__cards_card span {
        width: 50vw;
        height: 10.6vw;
        font-size: 4vw;
        line-height: 138.6%;
        /* 20.79px */
        margin-top: 118vw;
        margin-left: 0;

    }

    .section-types__cards_card:nth-child(2) {
        width: 90.6vw;
        height: 97.3vw;
    }

    .section-types__cards_card:nth-child(3) {
        width: 90.6vw;
        height: 97.3vw;
    }

    .section-request {
        display: none;
    }

    .section-request__steps,
    .section-request__logo {
        display: none;
    }

    .section-fantasies {
        position: absolute;
        top: 1013vw;
        grid-column: 1;
        grid-row: 4;
        background-color: #fff;
        margin: 0;
    }

    .section-fantasies__wrapper_list {
        display: none;
    }

    .section-fantasies__wrapper_photo:nth-child(4),
    .section-fantasies__wrapper_photo:nth-child(5),
    .section-fantasies__wrapper_photo:nth-child(6) {
        display: none;
    }

    .section-fantasies__wrapper {
        background: #fff;
    }

    .section-fantsies__wrapper_header {
        margin: 0;
        display: block;
        width: 88vw;
        height: 17.6vw;
        flex-shrink: 0;
        color: #E3B873;
        text-align: center;
        font-size: 5.8vw;
        line-height: 138.6%;
        /* 30.492px */
    }

    .section-fantasies__wrapper_photo:nth-child(3) {
        display: flex;
        top: 38.6vw;
        left: 4.8vw;
        width: 90.6vw;
        height: 64.5vw;
        background-image: url(../images/furniture.jpg);
        background-size: 100% 100%;
        z-index: 1;
    }

    .section-fantasies__wrapper-photo_logo {
        display: inline-block;
        width: 9.6vw;
        height: 9.6vw;
        cursor: pointer;
    }

    .section-fantasies__wrapper-photo_logo:nth-child(1) {
        background-image: url(../images/left-arrow.svg);
        margin-top: 26.6vw;
        margin-left: 3.7vw;
    }

    .section-fantasies__wrapper-photo_logo:nth-child(2) {
        background-image: url(../images/right-arrow.svg);
        margin-top: 26.6vw;
        margin-left: 63vw;
    }

    .section-clients {
        display: none;
    }

    .section-map {
        height: 341vw;
        grid-column: 1;
        grid-row: 5;
        top: 528.2vw;
        background: #181818;
    }

    .section-map__wrapper {
        background: #181818;
    }

    .section-map__questions {
        top: 45.3vw;
        background: #181818;
    }

    .section-map__questions h2 {
        color: #FFF;
        text-align: center;
        font-size: 5.3vw;
        line-height: 138.6%;
        /* 27.72px */
        width: 68.5vw;
        height: 6.9vw;
    }

    .section-map__input-area {
        flex-direction: column;
        margin-top: 16vw;
        align-items: start;
        gap: 16.8vw;
    }

    .section-map__input-area_input p,
    .section-map__input-area_solo p {
        color: rgba(255, 255, 255, 0.50);
        font-size: 3.4vw;
        line-height: 163.68%;
        /* 21.278px */
    }

    .section-map__input-area_block {
        border-bottom: 1px solid #fff;
    }

    .section-map__input-area_block span {
        color: #FFF;
        font-size: 3.7vw;
        line-height: 163.68%;
        /* 22.915px */
    }

    .section-map__input-area_input:nth-child(1),
    .section-map__input-area_input:nth-child(2),
    .section-map__input-area_solo {
        width: 88vw;
        margin: 0 0 0 -13.3vw;
    }

    .section-map__checkbox {
        margin-top: 5.6vw;
        gap: 2.4vw;
        margin-left: -13.3vw;
    }

    .section-map__checkbox .checkbox-title {
        color: #FFF;
        text-wrap: nowrap;
        font-size: 3.7vw;
        line-height: 163.68%;
        /* 22.915px */
    }

    .section-map__button_btn {
        margin-top: 17.8vw;
        width: 90.6vw;
        height: 13.6vw;
        font-size: 3.6vw;
        line-height: 204.6%;
        /* 26.598px */
    }

    .section-map__header {
        top: 280vw;
        color: #E3B873;
        text-align: center;
        font-size: 4.8vw;
        line-height: 138.6%;
        /* 24.948px */
        margin: 0;
    }

    .section-map__logo-wrapper {
        top: 314vw;
        margin: 0;
        left: 37vw;
    }

    .section-map__logo-wrapper img {
        width: 26vw;
        height: 10.4vw;
    }

    .section-map__map {
        background-image: url(../images/map2.jpg);
        background-size: 100% 100%;
        top: 178.6vw;
        left: -12vw;
        width: 90.6vw;
        height: 68vw;
    }

    .footer {
        display: none;
    }


}