@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Nunito Sans"),
    url("NunitoSans_10pt-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Nunito Sans"),
    url("NunitoSans_10pt-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    src: local("Yeseva One"),
    url("YesevaOne-Regular.ttf") format("truetype");
}